/* Скидання стилів */


@import url(reset.css);

/* local fonts */

@import url(fonts.css);

/* plugin google fonts */

@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");

/* Google Fonts */


/* Основні стилі */



.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.header,
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background: rgb(208, 144, 144);
    padding: 100px 0 100px 0;
    text-align: center;
}


.main {
    font-family: "Epilogue", sans-serif;
    flex-grow: 1;
    background-color: #28293E;
}


.main__portfolio {
    padding: 92px 0 70px 0;
    margin-bottom: 38px;
}


.portfolio__content>*,
.block-events__content>* {
    margin-bottom: 20px;
}

.portfolio__content>*:last-child,
.block-events__content>*:last-child {
    margin-bottom: 0px;
}

.portfolio__content {
    margin-bottom: 68px;
}

.content__label,
.content-started__label {
    display: block;
    text-align: center;
    color: #EF6D58;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 2;
    animation-name: visible;
    animation-duration: 2s;
}

.content__title {
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
    animation-name: move;
    animation-duration: 2s;
}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes move-two {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content__work {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 51px;
    animation-name: move-two;
    animation-duration: 2s;
}

.work__link:hover {
    color: #fff;
}

.work__link {
    display: flex;
    gap: 3px;
}

.work__link sup {
    margin-top: -8px;
}

.content__box {
    display: none;
}


.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 30px;
    margin-bottom: 64px;
}


.cards__item {
    position: relative;
    min-height: 416px;
    flex-basis: 40%;
    min-width: 402px;
    flex-shrink: 1;
    display: flex;
    align-items: flex-end;
    padding: 51px 48px;
}


.portfolio__cards a:nth-of-type(4n + 2),
.portfolio__cards a:nth-of-type(4n + 3) {
    flex-basis: 57.2%;
}

@media (max-width: 1100px) {
    .portfolio__content {
        margin-bottom: 38px;
    }

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 10px);
    }
}

@media (max-width: 1012px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 20px);
    }
}

@media (max-width: 989px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 30px);
    }
}

@media (max-width: 965px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 40px);
    }
}

@media (max-width: 942px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 50px);
    }
}

@media (max-width: 919px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 60px);
    }
}

@media (max-width: 896px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 70px);
    }
}

@media (max-width: 871px) {

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: calc(57% - 80px);
    }
}

@media (max-width: 865px) {
    .portfolio__cards {
        justify-content: center;
    }

    .cards__item {
        min-width: 390px;
    }
}

@media (max-width: 840px) {
    .cards__item {
        min-width: 380px;
    }
}

@media (max-width: 820px) {
    .cards__item {
        min-width: 370px;
    }
}

@media (max-width: 800px) {
    .cards__item {
        min-width: 360px;
    }
}

@media (max-width: 780px) {
    .cards__item {
        min-width: 350px;
    }
}

@media (max-width: 760px) {
    .cards__item {
        min-width: 340px;
    }

    .content__title {
        font-size: 50px;
    }

    .content__work {
        gap: 40px;
    }

}

@media (max-width: 740px) {
    .cards__item {
        flex-basis: 100%;
        min-width: 329px;
    }

    .portfolio__cards a:nth-of-type(4n + 2),
    .portfolio__cards a:nth-of-type(4n + 3) {
        flex-basis: 100%;
    }
}


@media (max-width: 600px) {
    .content__title {
        font-size: 45px;
    }

    .content__work {
        gap: 30px;
    }
}

@media (max-width: 531px) {
    .content__title {
        font-size: 40px;
        margin-bottom: 28px;
    }

    .portfolio__content {
        margin-bottom: 48px;
    }

    .content__work {
        gap: 25px;
    }
}

@media (max-width: 531px) {
    .content__work {
        display: none;
    }

    .content__menu {
        width: 100%;
        border-radius: 6px;
        padding: 9px 16px 7px 16px;
        line-height: 2;
        color: rgba(57, 20, 0, 0.64);
        appearance: none;
        background-color: #FFF;
    }

    .content__box {
        display: block;
        position: relative;
    }

    .content__box::after {
        content: "";
        width: 10px;
        height: 6px;
        position: absolute;
        background: url("../img/Triangle.svg") center / auto no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }
}



@media (max-width: 415px) {

    .portfolio__content>*,
    .block-events__content>* {
        margin-bottom: 17px;
    }
}

@media (max-width: 375px) {
    [class*="__container"] {
        max-width: 360px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.cards__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}


.cards__item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3181;
    background: #5C2000;
    z-index: 1;
    transition: opacity 0.3s ease-in;
}

.cards__item:hover::before {
    opacity: 0.2;
    transition: opacity 0.3s ease-in;
}

.item-cards__content {
    position: relative;
    z-index: 1;
    width: fit-content;
    width: 100%;
}

.item-cards__content>* {
    margin-bottom: 24px;
}

.item-cards__content>*:last-child {
    margin-bottom: 0px;
}

.item-cards__work {
    display: block;
    width: fit-content;
    color: #391400;
    line-height: 2;
    background-color: #fff;
    border-radius: 19px;
    padding: 5px 15px;
}

.item-cards__title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}

.item-cards__title--uppercase {
    text-transform: uppercase;
}

.link {
    text-align: center;
}

.button {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 18px 30px 16px 31px;
    transition-duration: 0.3s;
}

.button:hover {
    color: #fff;
    background-color: #B550F8;
    border: 1px solid #B550F8;
    transform: scale(1.1);
}

.started__body {
    border-radius: 6px;
    background: #FDF0E9;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.started__content>* {
    margin-bottom: 20px;
}

.started__content>*:last-child {
    margin-bottom: 0px;
}

.main__started {
    padding: 77px 0 70px 0;
}

.started__content {
    margin-top: -75px;
    flex-basis: 21%;
    min-width: 248px;
}


.content-started__icon {
    max-width: 148px;
    margin-bottom: 19px;
    position: relative;
    left: -16px;
    animation-name: move-icon;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-icon {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translate(100%);
    }
}


.content-started__img-bg {
    max-width: 148px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-started__img {
    max-width: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.content-started__label--text-align {
    text-align: left;
}


.content-started__title {
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 23px;
    max-width: 248px;
}




.btn {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 6px;
    background: #EF6D58;
    padding: 18px 32px 18px 32px;
    transition-duration: 0.3s;
}

.btn:hover {
    background: #FFF;
    box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
    color: #391400;
    transform: scale(1.1);
}

.started__img {
    flex-basis: 338px;
    flex-shrink: 1;
    align-self: center;
    position: relative;
    border-radius: 6px;
}

.started__img img {
    aspect-ratio: 338 / 270;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 3;
    border-radius: 6px;
}

.started__img::before {
    content: "";
    border-radius: 6px;
    background: url("../img/started-rectangle-1.webp");
    max-width: 306px;
    width: 100%;
    height: 176px;
    position: absolute;
    bottom: 40px;
    left: 16px;
    z-index: 1;
}

.started__img::after {
    content: "";
    border-radius: 6px;
    background: url("../img/started-rectangle-2.webp");
    max-width: 274px;
    width: 100%;
    height: 176px;
    position: absolute;
    bottom: 30px;
    left: 32px;
    z-index: 2;
}


.started__photo {
    position: relative;
    flex-basis: 25%;
    flex-shrink: 1;
    align-self: flex-end;
    margin-top: -60px;
}

.started__photo img {
    aspect-ratio: 239 / 396;
    object-fit: cover;
    object-position: bottom;
}

.started__photo::before {
    content: "";
    width: 282px;
    height: 242px;
    background: url("../img/cloud-started.svg");
    position: absolute;
    top: 110px;
    left: -55px;
    z-index: -1;
}

@media (max-width: 1069px) {
    .started__photo::before {
        display: none;
    }
}

@media (max-width: 914px) {
    .started__photo::before {
        display: block;
    }

    .started__content {
        order: 3;
        margin-bottom: 20px;
    }

    .started__img {
        order: 2;
    }

    .started__photo {
        order: 1;
    }
}

@media (max-width: 787px) {
    .started__photo::before {
        display: none;
    }
}

@media (max-width: 651px) {
    .started__photo::before {
        display: block;
    }

    .started__body {
        justify-content: center;
    }

    .started__content {
        order: 1;
        margin-bottom: 0;
    }

    .started__img {
        order: 2;
    }

    .started__photo {
        order: 3;
        margin-top: 0;
    }
}

@media (max-width: 384px) {
    .started__photo::before {
        display: none;
    }
}

@media (max-width: 400px) {
    .started__img {
        flex-basis: 270px;
    }

    .started__img::before {
        max-width: 240px;
        height: 140px;
        bottom: 30px;
    }

    .started__img::after {
        max-width: 214px;
        height: 140px;
        bottom: 20px;
    }
}

.main__events {
    padding: 70px 0 70px 0;
}

.block-events__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}


.content__title--width {
    max-width: 426px;
}

.block-events__columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 64px;
}

.block-events__column {
    border-radius: 6px;
    border: 1px solid #3A3C56;
    padding: 36px 40px;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    min-width: 329px;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 40px;
}

@media (max-width: 1200px) {
    .block-events__column {
        padding: 36px 28px;
    }
}


.column-block__up {
    border-bottom: 1px solid #3A3C56;
}

.column-block__up>*,
.column-block__down>* {
    margin-bottom: 19px;
}

.column-block__up>*:last-child,
.column-block__down>*:last-child {
    margin-bottom: 0px;
}

.column-block__box {
    display: flex;
    gap: 12px;
    align-items: center;
}

.column-block__number {
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1.1;
}

.column-block__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.column-block__title--width {
    max-width: 127px;
}

.column-block__time {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    line-height: 2;
    padding-bottom: 36px;
}

.column-block__time::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/clock-events-img.svg") no-repeat;
}



.column-block__down {
    flex-grow: 1;
}

.column-block__paragraph {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    margin-bottom: 26px;
}

.column-block__btn {
    color: #fff;
    line-height: 2;
    transition-duration: 0.3s;
    width: fit-content;
}

.column-block__btn:hover {
    text-decoration: underline;
    color: #EF6D58;
}

.main__our-team {
    padding: 70px 0 90px 0;
}

.our-team__content>* {
    margin-bottom: 20px;
}

.our-team__content>*:last-child {
    margin-bottom: 0px;
}


.our-team__box {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    gap: 30px;
}

.our-team__content {
    flex-basis: 531px;
}


.content__label--text-align,
.content__title--text-align {
    text-align: left;
}

.content__title--text-align {
    text-wrap: balance;
}


.our-team__arrows {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 16px;
}

@media (max-width: 663px) {
    .our-team__arrows {
        display: none;
    }
}

.our-team__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3A3C56;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.our-team__arrow:hover {
    width: 60px;
    height: 60px;
}

.our-team__arrow img {
    width: 14px;
    height: 9px;
}

.our-team__profiles {
    display: flex;
    gap: 30px;
    margin-bottom: 52px;
}

.our-team__profile {
    flex-basis: 270px;
    flex-grow: 0;
    flex-shrink: 0;
}

.our-team__img {
    border-radius: 6px;
    border: 1px solid #3A3C56;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 26px;
    min-height: 272px;
}

.our-team__img img {
    max-width: 100%;
}



.our-team__name {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3px;
}

.our-team__profession {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
}

.our-team__items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.our-team__item {
    width: 12px;
    height: 12px;
    border: 1px solid #4E4F6E;
    border-radius: 50%;
    cursor: pointer;
}

.our-team__items div:nth-child(4),
.our-team__items div:nth-child(5),
.our-team__items div:nth-child(6) {
    display: none;
}

@media (max-width: 740px) {

    .our-team__items div:nth-child(4),
    .our-team__items div:nth-child(5),
    .our-team__items div:nth-child(6) {
        display: block;
    }
}

.our-team__items div:hover {
    background: #EF6D58;
    border: none;
}

.main__founder {
    padding: 90px 0 176px 0;
}


.founder__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.founder__img {
    border-radius: 5px;
    flex-shrink: 1;
}

.founder__img img {
    width: 100%;
    object-fit: cover;
}

.founder__content {
    position: relative;
    flex-basis: 470px;
    flex-shrink: 1;
}

.founder__content::before {
    content: "";
    width: 100px;
    height: 80px;
    background: url("../img/shape-founder.svg") no-repeat;
    position: absolute;
    right: 44px;
    top: 10px;
}

.content__label--margin {
    margin-bottom: 33px;
}

.founder__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 44px;
}

@media (max-width: 1100px) {
    .founder__block {
        justify-content: center;
    }

    .founder__content {
        text-align: center;
        flex-basis: 100%;
    }
    .founder__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .content__label--margin {
        text-align: center;
    }
}

@media (max-width: 565px) {
    .founder__title {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width: 540px) {
    .content__label--margin {
        text-align: left;
    }

    .founder__content {
        text-align: left;
    }
}


.founder__name {
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 6px;
}

.founder__profession {
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    line-height: 1.7;
}