/* Скидання стилів */


@import url(reset.css);

/* local fonts */

@import url(fonts.css);

/* plugin google fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");

/* Google Fonts */


/* Основні стилі */

body {
    background: #141414;
    color: #BFBFBF;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    min-height: 120px;
    position: fixed;
    z-index: 2;
    align-self: center;
}

.header__img {
    max-width: 300px;
}

.header__img img {
    width: 100%;
    object-fit: contain;
}

.main__img {
    position: relative;
    left: -30px;
    animation-name: move;
    animation-duration: 5s;
}

@keyframes move {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}